.new_gray_box {
  font-size: 0.8rem;
}
.new_gray_box > table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #dddddd;
  border-width: 1px 0 0 1px;
}

.new_gray_box > table th,
.new_gray_box > table td {
  border: 1px solid #dddddd;
  border-width: 0 1px 1px 0;

  padding: 0.5em;
}
